@charset "UTF-8";
body {
  background-image: linear-gradient(to right top, #d35656, #d13f70, #bf3590, #983eb2, #434fcd);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  overflow: hidden; /* Hide scrollbars */
}

#music_player {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  /* Reset slider style */
  /*Thiết lập style cho range slider*/
}
#music_player .modal .modal-content {
  background: rgba(153, 153, 153, 0.384);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.6px);
  -webkit-backdrop-filter: blur(13.6px);
  border: 1px solid rgba(126, 61, 86, 0.192);
  color: white;
}
#music_player .modal .modal-body {
  display: flex;
}
#music_player .modal .modal-body .img-preview img {
  width: 100%;
}
#music_player .container {
  /* From https://css.glass */
  background: rgba(134, 134, 134, 0.164);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.6px);
  -webkit-backdrop-filter: blur(13.6px);
  border: 1px solid rgba(126, 61, 86, 0.192);
  width: 420px;
  color: white;
  position: relative;
}
#music_player .container .add {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#music_player .container .song_info {
  overflow: hidden;
}
#music_player .container .song_info .nowPlaying {
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}
#music_player .container .song_info .songName {
  font-weight: 500;
  font-size: 2em;
  text-shadow: rgb(0, 0, 0) 1px 0 5px;
  text-overflow: clip;
  white-space: nowrap;
}
#music_player .container .song_info .artist {
  font-weight: 300;
  font-size: 1em;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}
#music_player .container .songListToggle i {
  transform: translatey(10px);
  opacity: 0.5;
  transition: all 0.3s;
}
#music_player .container .songListToggle i:hover {
  opacity: 1;
}
#music_player .container .songList {
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.473);
  transition: display 0.3s;
  display: none;
}
#music_player .container .songList .table-responsive {
  max-height: 150px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#music_player .container .songList .table-responsive::-webkit-scrollbar {
  display: none;
}
#music_player .container .songListClose {
  transform: translateY(20px);
  transition: display 0.3s;
  opacity: 0.5;
  display: none;
}
#music_player .container .songListClose:hover {
  opacity: 1;
}
#music_player .thumbnail {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 38px, rgba(0, 0, 0, 0.22) 0px 0px 12px;
}
#music_player .button_row * {
  color: rgb(255, 255, 255);
}
#music_player .button_row *:hover {
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
  cursor: pointer;
  transition: 0.3s;
}
#music_player .button_row .btn-play i,
#music_player .button_row .btn-pause i {
  font-size: 36px;
}
#music_player .button_row .btn-pause {
  display: none;
}
#music_player .button_row .btn-loop.active i,
#music_player .button_row .btn-random.active i {
  color: rgb(0, 0, 0);
}
#music_player .volumeIcon i {
  display: block;
}
#music_player .volumeBar,
#music_player .timeSlider {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  background-color: rgb(255, 255, 255);
}
#music_player .volumeBar {
  width: 30%;
}
#music_player .volumeBar::-moz-range-thumb {
  width: 10px;
  height: 15px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  cursor: pointer;
}
#music_player .volumeBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  cursor: pointer;
}
#music_player .timeSlider {
  width: 60%;
}
#music_player .timeSlider::-moz-range-thumb {
  width: 10px;
  height: 15px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  cursor: pointer;
}
#music_player .timeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 15px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  cursor: pointer;
}

@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes scroll_text {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(-40%);
  }
}
@keyframes scroll_text {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(-40%);
  }
}/*# sourceMappingURL=index.css.map */