$thumb-color: rgb(255, 255, 255);
$slider-color: rgb(255, 255, 255);
$button-color: rgb(255, 255, 255);
$button-color-active: rgb(0, 0, 0);
$button-text-color: black;

body {
    background-image: linear-gradient(to right top, #d35656, #d13f70, #bf3590, #983eb2, #434fcd);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    overflow: hidden; /* Hide scrollbars */
}

#music_player {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    // #music_player style

    // display: none;
    .modal {
        .modal-content {
            background: rgba(153, 153, 153, 0.384);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(13.6px);
            -webkit-backdrop-filter: blur(13.6px);
            border: 1px solid rgba(126, 61, 86, 0.192);
            color: white;
        }
        .modal-body {
            display: flex;
            .img-preview {
                img {
                    width: 100%;
                }
            }
        }
    }

    .container {
        /* From https://css.glass */
        background: rgba(134, 134, 134, 0.164);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(13.6px);
        -webkit-backdrop-filter: blur(13.6px);
        border: 1px solid rgba(126, 61, 86, 0.192);
        width: 420px;
        color: white;
        position: relative;

        .add {
            color: $button-color;
            position: absolute;
            top: 10px;
            right: 10px;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
        .song_info {
            overflow: hidden;
            .nowPlaying {
                text-shadow: rgb(0, 0, 0) 1px 0 10px;
            }
            .songName {
                font-weight: 500;
                font-size: 2em;
                text-shadow: rgb(0, 0, 0) 1px 0 5px;
                text-overflow: clip;
                white-space: nowrap;
            }
            .artist {
                font-weight: 300;
                font-size: 1em;
                text-shadow: rgb(0, 0, 0) 1px 0 10px;
            }
        }
        .songListToggle {
            i {
                transform: translatey(10px);
                opacity: 0.5;
                transition: all 0.3s;
                &:hover {
                    opacity: 1;
                }
            }
        }
        .songList {
            padding-top: 20px;
            border-top: 1px solid rgba(255, 255, 255, 0.473);
            transition: display 0.3s;
            display: none;
            .table-responsive {
                max-height: 150px;
                overflow: scroll;
                &::-webkit-scrollbar {
                    display: none;
                }
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */
            }
        }
        .songListClose {
            transform: translateY(20px);
            transition: display 0.3s;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
            display: none;
        }
    }

    .thumbnail {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 38px, rgba(0, 0, 0, 0.22) 0px 0px 12px;
    }

    .button_row {
        * {
            color: $button-color;
        }
        *:hover {
            text-shadow: rgb(255, 255, 255) 1px 0 10px;
            cursor: pointer;
            transition: 0.3s;
        }
        .btn-play i,
        .btn-pause i {
            font-size: 36px;
        }
        .btn-pause {
            display: none;
        }
        .btn-loop,
        .btn-random {
            &.active i {
                color: $button-color-active;
            }
        }
    }

    .volumeIcon {
        i {
            display: block;
        }
    }

    /* Reset slider style */
    /*Thiết lập style cho range slider*/
    .volumeBar,
    .timeSlider {
        -webkit-appearance: none;
        height: 5px;
        border-radius: 5px;
        background: $thumb-color;
        outline: none;
        opacity: 0.7;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
        background-color: $slider-color;
    }
    .volumeBar {
        width: 30%;
        &::-moz-range-thumb {
            width: 10px;
            height: 15px;
            border-radius: 5px;
            background: $thumb-color;
            cursor: pointer;
        }
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $thumb-color;
            cursor: pointer;
        }
    }
    .timeSlider {
        width: 60%;
        &::-moz-range-thumb {
            width: 10px;
            height: 15px;
            border-radius: 5px;
            background: $thumb-color;
            cursor: pointer;
        }
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 10px;
            height: 15px;
            border-radius: 5px;
            background: $thumb-color;
            cursor: pointer;
        }
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes scroll_text {
    0% {
        transform: translateX(40%);
    }
    100% {
        transform: translateX(-40%);
    }
}
